<div class="work-together-main" id="contactMe">
    <div class="work-together-content">
        <div class="work-togehter-left-content">
            <div class="work-together-left-top">
                <span class="contact">{{ 'contactMe' | translate }}</span>
                <h1>{{ 'workTogether' | translate }}</h1>
            </div>
            <div class="work-together-left-bottom">
                <span>{{ 'gotProblemToSolve' | translate }}</span>
                <p>{{ 'writeMe' | translate }}</p>
                <p>{{ 'needDeveloper' | translate }}</p>
            </div>

            <a class="scrolling" href="#header">
                <div class="scroll-up-bottom">
                    <div class="scroll-up-img">
                        <img src="./assets/img/scroll-down.png" />
                    </div>
                </div>
            </a>
        </div>

        <div class="work-together-right-content">
            <form [formGroup]="workTogetherForm" (ngSubmit)="onSubmit()">
                <div class="work-together-form">
                    <span>{{ 'yourName' | translate }}</span>
                    <input
                        type="text"
                        formControlName="yourName"
                        placeholder="{{ 'placeholder1' | translate }}"
                    />
                    <div
                        class="checkInputs"
                        *ngIf="
                            workTogetherForm.controls['yourName']?.invalid &&
                            workTogetherForm.controls['yourName']?.touched
                        "
                    >
                        <p>{{ 'contactName' | translate }}</p>
                    </div>
                </div>

                <div class="work-together-form">
                    <span>{{ 'yourMail' | translate }}</span>
                    <input
                        type="email"
                        formControlName="yourMail"
                        placeholder="{{ 'placeholder2' | translate }}"
                    />
                    <div
                        class="checkInputs"
                        *ngIf="
                            workTogetherForm.controls['yourMail']?.invalid &&
                            workTogetherForm.controls['yourMail']?.touched
                        "
                    >
                        <p>{{ 'contactMail' | translate }}</p>
                    </div>
                </div>

                <div class="work-together-form form-bottom-line">
                    <span>{{ 'helpYou' | translate }}</span>
                    <input
                        type="text"
                        formControlName="helpYou"
                        placeholder="{{ 'placeholder3' | translate }}"
                    />
                    <div
                        class="checkInputs"
                        *ngIf="
                            workTogetherForm.controls['helpYou']?.invalid &&
                            workTogetherForm.controls['helpYou']?.touched
                        "
                    >
                        <p>{{ 'contactMessage' | translate }}</p>
                    </div>
                </div>

                <div class="work-together-priv-policy">
                    <div class="privacy-content">
                        <div class="form-group">
                            <input
                                type="checkbox"
                                formControlName="acceptPolicy"
                                id="html"
                            />
                            <label for="html"></label>
                            <span
                                >{{ 'readThe' | translate }}
                                <a
                                    routerLink="/policy"
                                    (click)="scrollToTop()"
                                    class="priv-policy"
                                    >{{ 'privPol' | translate }}</a
                                >
                                {{ 'processing' | translate }}
                            </span>
                        </div>

                        <div
                            class="checkInputs"
                            *ngIf="
                                workTogetherForm.get('acceptPolicy')?.invalid &&
                                workTogetherForm.get('acceptPolicy')?.touched
                            "
                        >
                            <p>{{ 'checkBoxMessage' | translate }}</p>
                        </div>
                    </div>

                    <div class="hello">
                        <button type="submit" [disabled]="!areFieldsFilled()">
                            <p class="send-mail">
                                {{ 'sayHello' | translate }}
                            </p>
                        </button>

                        <a href="#header">
                            <div class="scroll-up-responsive d-none-normal">
                                <div class="scroll-up-img">
                                    <img src="./assets/img/scroll-down.png" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
