<div class="work-together-main" id="contactMe">
  <div class="work-together-content">
    <div class="work-togehter-left-content">
      <div class="work-together-left-top">
        <span class="contact">{{ 'contactMe' | translate }}</span>
        <h1>{{ 'workTogether' | translate }}</h1>
      </div>
      <div class="work-together-left-bottom">
        <span>{{ 'gotProblemToSolve' | translate }}</span>
        <p>
          {{ 'writeMe' | translate }}
        </p>
        <p>{{ 'needDeveloper' | translate }}</p>
      </div>
    </div>

    <div class="work-togehter-right-content">
      <div>
        <div class="work-together-form">
          <span>{{ 'yourName' | translate }}</span>
          <input type="text" placeholder="{{ 'placeholder1' | translate }}" />
        </div>
        <div class="work-together-form">
          <span>{{ 'yourMail' | translate }}</span>
          <input type="text" placeholder="{{ 'placeholder2' | translate }}" />
        </div>
        <div class="work-together-form form-bottom-line">
          <span>{{ 'helpYou' | translate }}</span>
          <input type="text" placeholder="{{ 'placeholder3' | translate }}" />
        </div>
      </div>
      <div class="work-together-priv-policy">
        <div class="privacy-content">

            <form>
              <div class="form-group">
                <input type="checkbox" id="html">
                <label for="html">
                  <span>{{ 'readThe' | translate }} 
                    <a href="" class="priv-policy">{{ 'privPol' | translate }}                       
                    </a> {{ 'processing' | translate }}
                  </span>
                </label>
              </div> 
              <span class="accept-policy d-none">{{ 'acceptPol' | translate }}</span>          
            </form>        
          
        </div>
        <div class="hello">          
            <button>
              <p class="send-mail">{{ 'sayHello' | translate }}</p>
            </button>         
        </div>
      </div>
    </div>
  </div>
</div>
