<div class="about-me-main" id="aboutMe">
  
  <div class="about-me-content">
    
    <div class="about-me-content-left">      
      <div class="picture1">
        <img class="images" src="./../../assets/img/capa-image.png"/>
      </div>
      <div class="picture">
        <img class="images" src="./../../assets/img/Photo.png">
      </div>    
    </div>

    <div class="about-me-content-right">
      <div>
        <span>{{ 'whoIAm' | translate }}</span>
      </div>

      <div class="about-me-description">
        <h1>{{ 'aboutMe' | translate }}</h1>

        <div>
          <p>{{ 'aboutMeDescription' | translate }}</p>
        </div>

        <div class="about-me-description-first-bottom">         
            <img src="./../../assets/img/location-icon.png" />
            <p>{{ 'aboutMeDescriptionOne' | translate }}</p>        
        </div>

        <div class="about-me-description-second-bottom">
            <img src="./../../assets/img/cognition-icon.png" />
          <p>{{ 'aboutMeDescriptionTwo' | translate }}</p>
        </div>
        
        <div class="about-me-description-third-bottom">
            <img src="./../../assets/img/quality-icon.png" />
          <p>{{ 'aboutMeDescriptionThree' | translate }}</p>
        </div>

      </div>
    </div>

  </div>
  
</div>
