<div class="about-me-main">
  <div class="about-me-content">
    <div class="about-me-content-left">
      <img src="./../../assets/img/capa-image.png"/>
      <img class="picture" src="./../../assets/img/Photo.png">
    </div>

    <div class="about-me-content-right">
      <div>
        <span>Who I Am</span>
      </div>

      <div class="about-me-description">
        <h1>About me</h1>

        <div>
          <p>
            Hi, I’m a german speaking Frontend Developer based in Bremen.
            Motivated by the limitless opportunities within IT, I am excited
            about crafting visually captivating and intuitive websites and
            applications.
          </p>
        </div>

        <div class="about-me-description-first-bottom">         
            <img src="./../../assets/img/location-icon.png" />
            <p>
              Flexible in terms of working environments, I can work effectively
              both on-site in Bremen and remotely.
            </p>        
        </div>

        <div class="about-me-description-second-bottom">
            <img src="./../../assets/img/cognition-icon.png" />
          <p>
            I am open-minded and always looking for personal challenges to
            constantly improve my knowledge and skills.
          </p>
        </div>
        
        <div class="about-me-description-third-bottom">
            <img src="./../../assets/img/quality-icon.png" />
          <p>
            In my profession, programming isn't just about writing code; it's a
            creative form of problem-solving. I take pride in my ability to
            distill complex technical challenges into simple, user-friendly
            solutions. This way, I help you achieve your goals and bring your
            visions to life.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
