@import "./../../styles.scss";

.about-me-main {
  @include flexCenter;
  background-color: #1c1c1c;
  padding-top: 48px;
  padding-bottom: 48px;
}

.about-me-content {
  @include max-width;
  display: flex;
  justify-content: space-between;
  gap: 90px;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.about-me-content-left {
  display: flex;
  position: relative;
  .picture {
    position: absolute;
    padding-left: 30px;
    @media (max-width: 650px) {
      padding-left: 16px;
    }
  }
}

.images {
  max-width: 100%;
  max-height: 100vh;
}

.about-me-content-right {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 98px;
  gap: 10px;
  span {
    font-family: "Karla";
    color: #3dcfb6;
    font-size: 24px;
  }
  @media (max-width: 1024px) {
  top: 50px;
  max-width: 568px;
  }  
}

.about-me-description {
  background-color: rgba(61, 207, 182, 0.1);
  border: 1px solid #3dcfb6;
  border-radius: 30px;
  padding: 32px;
  max-width: 568px;
  h1 {
    margin-top: 0;
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 64px;
    color: #3dcfb6;
  }
  p {
    color: whitesmoke;
    font-family: "Karla";
    font-size: 18px;
  }
  @media (max-width: 1440px) {
    padding: 25px;
    h1 {
      margin-bottom: 16px;
      font-size: 50px;      
    }
  }
  @media (max-width: 1250px) {
    padding: 20px;
    h1 {
      margin-bottom: 10px;
      font-size: 40px;      
    }
  }  
}

.about-me-description-first-bottom,
.about-me-description-second-bottom,
.about-me-description-third-bottom {
  display: flex;
  gap: 24px;
  img {
    width: 25px;
    height: 25px;
  }
  p {
    margin-top: 0;
  }
}
