<section>
  <div class="header-content">
    <nav>
      <div class="language-change">
        <button (click)="switchLanguage()">
          <span [ngClass]="{active: currentLanguage === 'EN', inactive: currentLanguage === 'DE'}">EN</span>
          <span [ngClass]="{active: currentLanguage === 'DE', inactive: currentLanguage === 'EN'}">DE</span>
        </button>
      </div>

      <div class="about-me">
        <a href="#aboutMe">{{ 'aboutMe' | translate }}</a>
        <a href="#mySkills">{{ 'skills' | translate }}</a>
        <a href="#myProjects">{{ 'projects' | translate }}</a>
      </div>
    </nav>

    <div class="header-content-right">
      <div class="logo">
        <div class="initials">
          <span class="letter-N">N</span>
          <span class="letter-M">M</span>
        </div>
        <div class="name">
          Nafi <br />
          Müftüoglu
        </div>
      </div>
    </div>
  </div>
</section>
