<div class="header-main">

  <div class="header-content">

    <div class="header-content-left">
      <div class="language-change">
        
        <button class="switch-button-language">
          <span href="" class="button-link">EN</span>
          <span href="" class="button-link">DE</span>
        </button>    

      </div>
      
      <div class="about-me-de">
        <span>About me</span>
        <span>Skills</span>
        <span>Projects</span>
      </div>
    </div>

    <div class="header-content-right">
      <div class="logo">
        <div class="initials">
          <span class="letter-N">N</span>
          <span class="letter-M">M</span>
        </div>
        <div class="name">
          Nafi <br>
          Müftüoglu
        </div>
      </div> 
        
    </div>
    
  </div>

</div>
