@import "./../../../styles.scss";

section {
  @include flexCenter;
  width: 100%;
  position: absolute;
}

.header-content {
  @include flexCenter;
  @include max-width;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

button {
  @include flexCenter;
  width: 84px;
  height: 28px;
  font-family: "Fira Code";
  font-size: 16px;
  font-weight: 700;
  background-color: transparent; 
  border: 1px solid #3dcfb6;
  border-radius: 100px;
  cursor: pointer;
  &:hover {
    border: 1px solid #ffffff;
  }
}

span {
  @include flexCenter;
  height: 28px;
  gap: 10px;
  &.active {
    width: 44px;
    color: whitesmoke;
    background-color: #3dcfb6;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 100px;
  }
  &.inactive {
    width: 40px;
    color: rgba(61, 207, 182, 0.5);
    padding-left: 8px;
    padding-right: 12px;
  }
}


.about-me {
  display: flex;
  align-items: center;
  gap: 32px;
  a {
    font-size: 20px;
    font-family: "Fira Code";
    color: #ffffff;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    &:hover {
      color: #3dcfb6;
    }
    &::after {
      content: "•";
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      color: #3dcfb6;
    }
    &:hover::after {
      visibility: visible;
    }
  }
}

.logo {
  gap: 10px;
  display: flex;
  align-items: center;
}

.initials {
  @include flexCenter;
  right: 180px;
  top: 20px;
  font-size: 60px;
  font-family: sans-serif;
  flex-direction: row;
  font-weight: bold;
}

.letter-N {
  @include flexCenter;
  margin-right: -7px;
  color: rgba(61, 207, 182);
  font-size: 61px;
}

.letter-M {
  @include flexCenter;
  margin-bottom: 2px;
  font-size: 64px;
  transform: rotate(90deg);
  color: rgba(61, 207, 182, 0.8);
}

.name {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  letter-spacing: 1px;
}

.logo:hover .initials {
  color: transparent;
}

.logo:hover .letter-N,
.logo:hover .letter-M {
  transition: 500ms;
  color: transparent;
  -webkit-text-stroke: 1px #5cd1b9;
}

.logo:hover .name {
  transition: 500ms;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}