<div class="skill-set-main" id="mySkills">
  <div class="skill-set-content">
    <div class="skill-set-left">
      <div>
        <span>{{ 'technologies' | translate }}</span>
      </div>
      <div class="skill-set-description">
        <h1>{{ 'skillSet' | translate }}</h1>
        <div>
          <p class="my-skills">
            {{ 'mySkills' | translate }}
          </p>
        </div>
        <div class="skill-set-two-color-question">
          <div class="question">
            <div class="first">{{ 'youNeed' | translate }}</div>
            <div class="second">{{ 'anotherSkill' | translate }}</div>
          </div>
          <div>
            <p class="third">
              {{ 'feelFree' | translate }}
            </p>
          </div>
        </div>

        <div>
          <button><span class="lets-talk">{{ 'letsTalk' | translate }}</span></button>
        </div>
      </div>
    </div>

    <div class="skill-set-right">
        <div *ngFor="let skill of skills" class="skill-icons">
            <img [src]="skill.src">
            <p>{{ skill.label }}</p>
        </div>
    </div>

  </div>
</div>
