<section>
  <div class="imprint-content">
    <div>
      <a href="#welcome_area"> 
        <img src="./assets/img/arrow-left-imprint.png" />
      </a> 
    </div>

    <div class="imprint">
      <h1>{{ 'imprint' | translate }}</h1>      
      <h2>{{ 'contact' | translate }}</h2>
      <h3>Nafi Müftüoglu</h3>
      <h3>Ellenerbrokweg 14</h3>
      <h3>28325 Bremen</h3>
      <h3>{{ 'phone' | translate }}: 0176 642 66666</h3>
      <a href="mailto:nafi-m@gmx.de">
        <h3 class="mail">eMail: nafi-m&#64;gmx.de</h3>
      </a>
    </div>
  </div>
</section>
