<section id="myProjects">
  <div class="featured-projects-contend">
    <div class="featured-projects-content-left">
      <div class="featured-projects-left-top">Portfolio</div>
      <div class="featured-projects-left-bottom">
        <h1>Featured Projects</h1>
        <div class="featured-left-bottom-p">
          <p>
            Explore a selection of my work here - Interact with projects to see
            my skills in action.
          </p>
        </div>

        <div class="my-projects-main">
          <div class="my-projects my-projects-first-container" (mouseenter)="showImage('join')" (mouseleave)="hideImage()">
            <h3>Join</h3>
            <div class="my-project-types">
              Javascript<span> |</span> HTML<span> |</span> CSS
            </div>
          </div>

          <div class="my-projects" (mouseenter)="showImage('pollo')" (mouseleave)="hideImage()">
            <h3>El Pollo Loco</h3>
            <div class="my-project-types">
              Javascript<span> |</span> HTML<span> |</span> CSS
            </div>
          </div>  

          <div class="my-projects" (mouseenter)="showImage('portfolio')" (mouseleave)="hideImage()">
            <h3>Portfolio</h3>
            <div class="my-project-types">
              Angular<span> |</span> Javascript<span> |</span> HTML<span> |</span> CSS
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="featured-projects-content-right">
      <img *ngIf="activeImage == 'join'" src="./../../assets/img/Photo.png" class="feat-project-images">
      <img *ngIf="activeImage == 'pollo'" src="./../../assets/img/Photo.png" class="feat-project-images second">
      <img *ngIf="activeImage == 'portfolio'" src="./../../assets/img/Photo.png" class="feat-project-images third">
    </div>

  </div>
  
</section>