<section id="myProjects">
  <div class="featured-projects-contend">
    <div class="featured-projects-content-left">
      <div class="featured-projects-left-top">Portfolio</div>
      <div class="featured-projects-left-bottom">
        <h1>Featured Projects</h1>
        <div class="featured-left-bottom-p">
          <p>
            Explore a selection of my work here - Interact with projects to see
            my skills in action.
          </p>
        </div>

        <div class="my-projects-main">
          <div class="my-projects my-projects-first-container" (mouseenter)="showImage('join')" (mouseleave)="hideImage()">
            <h3>Join</h3>
            <div class="my-project-types">
              Javascript<span> |</span> HTML<span> |</span> CSS
            </div>
          </div>

          <div class="introducing-projects">
            <div class="introducing-left">
                <div>
                  <h1>01</h1>
                  <h2>Join</h2>
                </div>
                <div>
                  <h3>What is in this project about?</h3>
                  <span>Task manager inspired by the Kanban System. Create and 
                  organize tasks using drag and drop function, assign users
                  and categories.
                  </span>
                <div class="introducing-icons">
                  <div class="itroducing-icons-container">
                    <img src="./../../assets/img/css-icon-colored.png">
                    <p>CSS</p>
                  </div>
                  <div class="itroducing-icons-container">
                    <img src="./../../assets/img/html-icon-colored.png">
                    <p>HTML</p>
                  </div>
                  <div class="itroducing-icons-container">
                    <img src="./../../assets/img/javascript-icon-colored.png">
                    <p>Javascript</p>
                  </div>
                </div>
              </div>
              <div class="link-button-continer">
                <div class="link-buttons">GitHub
                  <img src="./../../assets/img/arrow-outward.png">
                </div>
                <div class="link-buttons">Live Test
                  <img src="./../../assets/img/arrow-outward.png">
                </div>
              </div>
            </div>
          </div>

          <div class="my-projects" (mouseenter)="showImage('pollo')" (mouseleave)="hideImage()">
            <h3>El Pollo Loco</h3>
            <div class="my-project-types">
              Javascript<span> |</span> HTML<span> |</span> CSS
            </div>
          </div>  

          <div class="my-projects" (mouseenter)="showImage('portfolio')" (mouseleave)="hideImage()">
            <h3>Portfolio</h3>
            <div class="my-project-types">
              Angular<span> |</span> Javascript<span> |</span> HTML<span> |</span> CSS
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="featured-projects-content-right">
      <img *ngIf="activeImage == 'join'" src="./../../assets/img/Photo.png" class="feat-project-images">
      <img *ngIf="activeImage == 'pollo'" src="./../../assets/img/Photo.png" class="feat-project-images second">
      <img *ngIf="activeImage == 'portfolio'" src="./../../assets/img/Photo.png" class="feat-project-images third">
    </div>

  </div>
  
</section>