<div class="introducing-main">
  <!-- Name und über mich     -->
  <div class="introducing">
    <h2>Frontend Developer</h2>
    <h1>Nafi Müftüoglu</h1>
    <div class="contact-me">
      <button>Check my work</button>
      <button>Contact me</button>
    </div>

    <!-- Pfeil links -->
    <div class="scroll-down-left-main">
      <div class="scroll-down-left">
        <img src="./../../assets/img/scroll-down.png" />
      </div>
      <div class="separator-left"></div>
    </div>

    <!-- email kontakt rechts -->
    <div class="social-contact-main-right">
      <a href="mailto:meineEmail@example.com">nafi-m&#64;gmx.de</a>
      <img src="./../../assets/img/github-icon-green.png" />
      <img src="./../../assets/img/linkedin-icon-green.png" />
      <div class="separator-right"></div>
    </div>

    <div class="marquee-slider">
      <div class="marquee-content">
        @for(number of [1, 2, 3, 4, 5]; track number){ 
          @for (item of items ; track items){
            <span>•</span>
            <span>{{ item }}</span>
          } 
        }
      </div>
    </div>
  </div>
</div>
