<div class="introducing-main">
  <!-- Name und über mich     -->
  <div class="introducing">
    <h2>{{ 'frontendDeveloper' | translate }}</h2>
    <h1>Nafi Müftüoglu</h1>
    <div class="contact-me">
      
      <a href="#myProjects">
        <button class="sliding-buttons">
          <span>{{ 'checkMyWork' | translate }}</span>
        </button>
      </a>
      
      <a href="#contactMe">
        <button class="sliding-buttons">         
            <span>{{ 'contactMe' | translate }}</span>          
        </button>
      </a>

    </div>

    <!-- Pfeil links -->
    <div class="scroll-down-left-main">
      <div class="scroll-down-left">
        <img src="./../../assets/img/scroll-down.png" />
      </div>
      <div class="separator-left"></div>
    </div>

    <!-- email kontakt rechts -->
    <div class="social-contact-main-right">
      <a href="mailto:meineEmail@example.com">nafi-m&#64;gmx.de</a>
      <img src="./../../assets/img/github-icon-green.png" />
      <img src="./../../assets/img/linkedin-icon-green.png" />
      <div class="separator-right"></div>
    </div>

    <div class="marquee-slider">
      <div class="marquee-content">
        <ng-container *ngFor="let number of [1, 2, 3, 4, 5]">
          <ng-container *ngFor="let item of items">
            <span>•</span>
            <span>{{ item | translate }}</span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    
  </div>
</div>
