* {
  scroll-behavior: smooth;
}

// body {
//   // font-size: 0.58em;

//   @media (max-width: 1460px) {
//     font-size: 0.58em !important;
//   }

//   @media (max-width: 1280px) {
//     font-size: 0.5em !important;
//   }

//   @media (max-width: 1024px) {
//     font-size: 0.425em !important;
//   }

//   @media (max-width: 900px) {
//     font-size: 0.4em !important;
//   }
// }


body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.d-none {
  display: none !important;
}

.d-none-normal {
  display: none;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin max-width {
  max-width: 1440px;
  width: 100%;
  margin-left: 32px;
  margin-right: 32px;
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/fira-code-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/fira-code-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/karla-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/karla-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1c1c1c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(61, 207, 182, 0.5);
  box-shadow: inset 0 0 5px #1c1c1c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px #1c1c1c;
  background: #3dcfb6;
}
