<div class="footer-main">

  <div class="footer-contents">

    <div class="footer-content-left">
      <div class="logo">
        <div class="initials">
          <span class="letter-N">N</span>
          <span class="letter-M">M</span>
        </div>
        <div class="name">
          Nafi <br />
          Müftüoglu
        </div>
      </div>

      <div class="footer-left-bottom">
        <span>{{ 'webDeveloper' | translate }}</span>
        <span>{{ 'location' | translate }}</span>
      </div>
    </div>

    <div class="footer-content-center">
        <span>&#169; Nafi Müftüoglu 2024</span>
    </div>

    <div class="footer-content-right">
        <span>Github</span>
        <span>LinkedIn</span>
        <span>Email</span>
        <span>{{ 'legalNotice' | translate }}</span>
    </div>

  </div>

  <div class="footer-content-center-responsive d-none">
    <span>&#169; Nafi Müftüoglu 2024</span>
  </div>

</div>
