<div class="colleagues-feedback-main">
  
  <div class="colleagues-feedback-content">
    <span>What my colleagues say about me</span>

    <div class="feedback-slider-main">
      <!-- <img src="./../../assets/img/double-quotes-comments.png"> -->
      <div class="feedback-slider" *ngFor="let feedback of feedback"
        (click)="onFeedbackClick(feedback)"> {{ feedback.text }}
      </div>
    </div>

    <div class="slider-control">
      <img class="arrows" src="./../../assets/img/slider-arrow-left.png">
      <img class="slider-ellipse" src="./../../assets/img/ellipse-white.png">
      <img class="slider-ellipse" src="./../../assets/img/ellipse-green.png">
      <img class="slider-ellipse" src="./../../assets/img/ellipse-white.png">
      <img class="arrows" src="./../../assets/img/slider-arrow-right.png">
    </div>


  </div>






</div>
