@import "./../../styles.scss";

body {
  overflow-x: hidden !important;
}

.colleagues-feedback-main {
  @include flexCenter;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  background-color: #1c1c1c;
}

.colleagues-feedback-content {
  @include flexCenter;
  @include max-width;
  margin-top: 150px;
  margin-bottom: 32px;
  span {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 32px;
    color: #3dcfb6;
    @media (max-width: 1024px) {
      font-size: 24px;
    }
    @media (max-width: 500px) {
      font-size: 18px;          
    }
  }
  @media (max-width: 500px) {
    text-align: center;
    width: auto;          
  }
}

.feedback-slider-main {
  @include flexCenter;
  @include max-width;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  transition: transform 0.5s ease-in-out;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: 
      linear-gradient(to right,#1c1c1c,rgba(0, 128, 128, 0) 350px),
      linear-gradient(to left, #1c1c1c, rgba(0, 128, 128, 0) 350px);
    @media (max-width: 550px) {
      // left: 15px;
      // right: 15px;
      background-image: 
      linear-gradient(to right,#1c1c1c,rgba(0, 128, 128, 0) 150px),
      linear-gradient(to left, #1c1c1c, rgba(0, 128, 128, 0) 150px);
    }
  }
}

.double-quotes-comments {
  @include max-width;
  position: absolute;
  top: 0;
  left: 473px;
  z-index: 1;
  img {
    width: 70px;
    height: 45px;
  }
  @media (max-width: 550px) {
    left: 0px;
    margin-left: 80px;
  }
}

.carousel-style {
  @include flexCenter;
  min-width: 33.33%;
  width: 500px;
  opacity: 0.5;
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  &.active {
    opacity: 1;
    transform: scale(1);
  }
  @media (max-width: 550px) {
    width: auto;
    min-width: 65%;
  }
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(61, 207, 182, 0.1);
  border: 1px solid #3dcfb6;
  border-radius: 32px;
  padding: 32px;
  font-family: "Karla";
  color: white;
  gap: 40px;
  .title {
    font-size: 20px;
    margin: 0;
    p {
      font-size: 18px;
    }
  }
  @media (max-width: 550px) {
    height: 360px;
    justify-content: space-around;
    padding: 25px;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  .seperator {
    width: 70%;
    height: 1px;
    background-color: white;
    padding-left: 16px;
  }
}

.slide-arrows {
  @include flexCenter;
  margin-top: 32px;
  gap: 20px;
  .arrows {
    width: 32px;
    height: 32px;
    cursor: pointer;
    @media (max-width: 550px) {
      width: 50px;
      height: 50px;
      gap: 45px;
    }
  }
  @media (max-width: 550px) {   
    gap: 45px;
  }
}

@keyframes swing-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swing-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.arrows {
  transition: transform 0.3s ease;
}

.left-arrow:hover {
  content: url("./../../assets/img/slider-arrow-left-hover.png");
  animation: swing-left 0.8s infinite;
}

.right-arrow:hover {
  content: url("./../../assets/img/slider-arrow-right-hover.png");
  animation: swing-right 0.8s infinite;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  @media (max-width: 550px) {
    gap: 10px;
  }
}

.dot {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  &.active {
    background-color: #3dcfb6;
  }
  @media (max-width: 550px) {
    width: 12px;
    height: 12px;
  }
}
